@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
    /* Colors */
    --primary-color: #035D98;
    --secondary-color: #EE3D00;
    --third-color: #EEB000;
    --soft-blue: #e7f5ff;
    --warm-black: #080914;
    --black: #201e1c;
    --just-white: #fff;
    --grey: #999999;
}

::-webkit-scrollbar {
    width: 1.2em;
}

::-webkit-scrollbar-track {
    background-image: url(img/banner-compress.png);
    border-radius: 100vw;
    margin-block: 10em;
    overflow-y: hidden;
}

::-webkit-scrollbar-thumb {
    background: var(--warm-black);
    border-radius: 100vw;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--soft-blue);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFDE4, #080914);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFDE4, #080914); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: var(--just-white);
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_Side {
    position: relative;
    background-image: url(img/banner-compress.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
}

.profile {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profile .profile__img {
    position: relative;
    align-self: center;
    width: 200px;
    height: 200px;
    border-radius: 50% / 20%;
    overflow: hidden;
}

.profile .profile__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile h1 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.2px;
    font-weight: 700;
    line-height: 1.4em;
}

.profile h1 span {
    font-size: 0.8em;
    font-weight: 500;
    color: var(--third-color);
}

.contactInfo {
    padding-top: 40px;
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: var(--warm-black);
}

.contactInfo ul li span {
    color: var(--just-white);
    font-weight: 300;
}

.contactInfo ul li span img {
    width: 18px;
    height: 18px;
}

.contactInfo ul li span a {
    color: var(--just-white);
    font-weight: 300;
    text-decoration: none;
}

.contactInfo.education li {
    margin-bottom: 15px;
}

.contactInfo.education h4 {
    color: var(--just-white);
    font-weight: 300;
}

.contactInfo.education h4:nth-child(2) {
    color: var(--just-white);
    font-weight: 500;
}

.contactInfo.education h5 {
    color: var(--secondary-color);
    font-weight: 500;
}

.contactInfo.language .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: var(--warm-black);
    display: block;
    margin-top: 5px;
}

.contactInfo.language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--secondary-color);
    border-radius: 0 5px 5px 0;
}

.contactInfo.hobbies {
    color: var(--just-white);
    font-weight: 500;
}
.contactInfo.hobbies li {
    margin-bottom: 15px;
}

.container .right_Side {
    color: var(--just-white);
    position: relative;
    background: var(--warm-black);
    padding: 40px;
}

.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}

.title__right {
    color: var(--secondary-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: #999;
    text-align: justify;
}

.principal__text {
    text-align-last: center;
}

p span {
    color: var(--primary-color);
    font-weight: 500;
    letter-spacing: 1.2px;
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company {
    min-width: 150px;
}

.about .box .year_company h5 {
    text-transform: uppercase;
    color: var(--grey);
    font-weight: 600;
}

.about .box .text h4 {
    text-transform: uppercase;
    font-size: 16px;
}

.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
}

.skills .box h4 {
    text-transform: uppercase;
    color: var(--grey);
    font-weight: 500;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: var(--grey);
}

.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--secondary-color);
    border-radius: 0 5px 5px 0;
}

.interest ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.interest ul li {
    color: var(--grey);
    list-style: none;
    font-weight: 500;
    margin: 10px 0;
}

@media (max-width: 1000px) {
    .container {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width:600px) {
    .about .box {
        flex-direction: column;
    }

    .about .box .year_company {
        min-width: 150px;
        margin-bottom: 5px;
    }

    .interest ul {
        grid-template-columns: repeat(1,1fr);
    }
    .skills .box {
        grid-template-columns: repeat(1,1fr)
    }
}